body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
  border: solid 1px #FFF;
}

#defaultCanvas0, #p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'Bourgeois Bold Condensed';
  src: url("./fonts/Bourgeois-BoldCondensed.ttf");
}